version: '3.9'
services:
  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on: []
    stdin_open: true
    tty: true
