@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
